In [168]:
import pandas as pd
import os
from geopy import geocoders
from geopy.geocoders import Nominatim
import numpy as np

In [180]:
df=pd.read_csv('woman.csv')

xyz=df.drop(df.columns[[4,5,6,7,8,9]], axis=1) 
xyz

In [181]:
xyz['DISTRICT'][0]

In [182]:
address1geolocator = Nominatim(user_agent='myapplication')
location = geolocator.geocode(xyz['DISTRICT'][0])
print(location.latitude)

GeocoderQuotaExceeded: HTTP Error 429: Too Many Requests

In [129]:
lat = []
long=[]
year = []
rapes = []
loc_address = []
for address in address1:
    try:
        inputAddress = address
        location = geolocator.geocode(inputAddress, timeout=15)
        lat.append(location.latitude)
        long.append(location.longitude)
        loc_address.append(inputAddress)
    except Exception as e:
        print('Error, skipping address...', e,address)

Error, skipping address... 'NoneType' object has no attribute 'latitude' GUNTAKAL RLY.

In [142]:
df_geocodes = pd.DataFrame({'latitude':lat,'longitude':long , 'loc_address':loc_address})

In [143]:
df_geocodes

    latitude  longitude     loc_address
0  19.675945  78.533990        ADILABAD
1  14.550000  77.416667       ANANTAPUR
2  13.303741  78.987701        CHITTOOR
3  14.416667  78.750000        CUDDAPAH
4  17.233496  81.722599   EAST GODAVARI
5  16.291519  80.454159          GUNTUR
6  17.361608  78.474629  HYDERABAD CITY
7  18.434644  79.132265      KARIMNAGAR
8  17.246535  80.150033         KHAMMAM

In [89]:
x

,STATE/UT,DISTRICT,Year,Rape,Kidnap,Dowry Deaths,Assault,Insult to modesty,Cruelty by husband/relatives,Importation
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [93]:
y=x.iloc[:,[1,3,4,5,6,7,8,9]].values

In [94]:
y

array([['ADILABAD', 50, 30, 16, 149, 34, 175, 0],
       ['ANANTAPUR', 23, 30, 7, 118, 24, 154, 0],
       ['CHITTOOR', 27, 34, 14, 112, 83, 186, 0],
       ['CUDDAPAH', 20, 20, 17, 126, 38, 57, 0],
       ['EAST GODAVARI', 23, 26, 12, 109, 58, 247, 0]], dtype=object)