DATA VISULIZATION FOR CRIME AGAINST WOMAN IN INDIA

# Importing required libraries

In [6]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas
import matplotlib

%matplotlib inline
%pylab inline

matplotlib.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [9]:
woman_data=pandas.read_csv('woman.csv')

In [10]:
woman_data.head()

,STATE/UT,DISTRICT,Year,Rape,Kidnap,Dowry Deaths,Assault,Insult to modesty,Cruelty by husband/relatives,Importation
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0